html, body {
    margin: 0;
    height: 100%;
	font-family: 'Raleway', sans-serif;
}
.GreenBackGround{
	background-color: #ce7171;
}
.Blog{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.bodyDiv{
	border: 1px solid black;
}
.MarT-10{
	margin-top: 10px;
}
.ownerText{
	text-align: right;
}
.WhiteBackGround{
	background-color: white;
}
.alignRight{
	text-align: right;
}
.blackBorder{
	border:black 1px solid;
}

.ContentHolder{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.UserContainer{
	width: 1000px;
}
.BiSItemContainer{
	display: flex;
	justify-content: right;
}
.ItemIcon{
	height: 30px;
	width: 30px;
}
.ItemContainer{
	display: flex;
}
.JobIcon{
	width: 50px;
	height: 50px;
	display:flex;
	justify-content: left;
}
.GearContainer{
	display: flex;
	justify-content: space-between;
}
.BiSText{
	text-align: right;
}